@font-face {
	font-family: 'phxicons';
	src: url('icons/fonts/phxicons.eot');
	src: url('icons/fonts/phxicons.eot') format('embedded-opentype'), url('icons/fonts/phxicons.ttf') format('truetype'),
		url('icons/fonts/phxicons.woff') format('woff'), url('icons/fonts/phxicons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
